
.container-button{
  width: 100%;
  height: auto;
  padding: .15rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  transition: 500ms ease;

  &:hover, &:focus-within{
    background: linear-gradient(45deg,var(--ac-green) 0%, var(--ac-lime) 14.84%, var(--ac-red) 32.15%, var(--ac-pink) 65.79%, var(--ac-blue) 84.58%);
    background-size: 300% 300%;
    animation: rotateGradient 3s linear infinite;
  }

  & button{
    width: inherit;
    height: 3.5rem;
    font: var(--lb-medium);
    color: var(--ct-primary);
    border-radius: .5rem;
    background-color: var(--bg-tertiary);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-transform: uppercase;

    border:none;

    border-radius: .5rem;
    cursor: pointer;
    
    transition: 500ms ease;

    &:hover{
      background-color: var(--bg-secondary);
    }
  }


}


@keyframes rotateGradient{
   0% {
    
    background-position: 0% 30%;
  }
  25% {
    background-position: 100% 30%;
  }
  50% {
    background-position: 100% 60%;
  }
  75% {
    background-position: 0% 70%;
  }
  100% {
    background-position: 0% 30%;
  }
}