
.container-button{
  width: 30.4rem;
  height: 3.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  transition: 500ms ease;

  &:hover{
    background: linear-gradient(45deg,#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    background-size: 300% 300%;
    animation: rotateGradient 3s linear infinite;
  }

  & button{
    width: 30.125rem;
    height: 3.5rem;
    font: var(--lb-medium);
    color: var(--ct-primary);
    border-radius: .5rem;
    background-color: var(--bg-tertiary);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-transform: uppercase;

    border:none;

    border-radius: .5rem;
    cursor: pointer;
    
    transition: 500ms ease;

    &:hover{
      background-color: var(--bg-secondary);
    }
  }


}


@keyframes rotateGradient{
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}