main{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #000000e9 30%, #000000d0 70%);
  display: flex;
  justify-content: center;
  align-items: center;

  .container{
    width: 68.625rem;
    height: 33.688rem;

    & header{
      width: 10.75rem;
      height: 2.375rem;
      display: flex;
      align-items: center;
      gap: 0.219rem;
      margin-bottom: 5.563rem;

      & img{
        width: 2.375rem;
        height: 2.375rem;
      } 
      & strong{
        text-transform: uppercase;
        font: 700 1.5rem/130% var(--ff-sora); 
        color: var(--ct-primary);
      }
    }

    
  }
}