main{
  width: 100vw;
  height: 100vh;
  z-index: -5;
  background: linear-gradient(to bottom, #000000e9 30%, #000000d0 70%);
  display: flex;
  justify-content: center;
  align-items: center;

  .container{
    max-width: 68.625rem;
    width: 100%;
    min-height: 33.688rem;
    height: auto;
    padding-inline: 1rem;

    & header{
      width: 10.75rem;
      height: 2.375rem;
      display: flex;
      align-items: center;
      gap: 0.219rem;
      margin-bottom: 5.563rem;

      & img{
        width: 2.375rem;
        height: 2.375rem;
      } 
      & strong{
        text-transform: uppercase;
        font: 700 1.5rem/130% var(--ff-sora); 
        color: var(--ct-primary);
      }
    }

    
  }
}

@media (width <= 48em) {

  main{
    align-items: start; 
    padding-top: 2.75rem;

    .container{
      & header{
        margin-inline: auto;
        margin-bottom: 2.875rem;
      }

      
    }
  }
 
}