.paragraph-wrapper{
  display: flex;
  align-items: start;
  gap: 0.5rem;
  margin-bottom: 2.25rem;

 & .paragraph{
    & h3{
      font: var(--pp-medium);
      color: var(--ct-brand);
    }
    & p{
      font: var(--pp-small);
      color: var(--ct-secondary);
    }
  }

}