.container-result, .container-result-mb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & small{
    font: var(--overline);
    text-transform: uppercase;
    color: var(--ct-secondary);
    margin-top: 0.25rem;
  }

  & .result, .result-mb{
    width: 100%;
    margin-block: 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:  .5rem;

    & label{
      width: 5rem;
      height: 5rem;
      font: 700 3rem/150% var(--ff-roboto-M);
      border-radius: 1.75rem;

      display: flex;
      justify-content: center;
      align-items: center;

      animation: appearResult 2s linear both;
    }
  }
}


@keyframes appearResult {
  0%{
    background-color: black;
    transform: scale(0.1) rotate(0deg);
  }
  10%{
    background-color: var(--bg-brand);
    color: var(--ct-brand);
    transform: scale(0.1) rotate(90deg);
  }
  20%{
    background-color: var(--bg-brand);
    color: var(--ct-brand);
    transform: scale(0.1)  rotate(120deg);
  }
  50%{
    background-color: var(--bg-brand);
    color: var(--ct-brand);
    transform: rotate(240deg);
  }
  90%{
    background-color: var(--bg-brand);
    color: var(--ct-inverse);
    transform: rotate(330deg);
  }
  100%{
    color: var(--ct-brand);
    transform: rotate(360deg);
  }
}