@import url(./fields/input.css);
@import url(./fields/switch-toggle.css);
@import url(./fields/button.css);
@import url(./numbers-wrapper.css);

.wrapper{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
  
  & .content{
    max-width: 32rem;
    width: 100%;
    height: auto;
  }
  
  .left{
    & small{
      font: var(--overline);
      text-transform: uppercase;
      background: linear-gradient(to right, #C7C9CC 0%, #3D3D3D 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & h1{
      font: var(--tt-large);
      color: var(--ct-primary);
      text-transform: uppercase;
      margin-bottom: 2.375rem;
    }
  }

  .right{
    padding: 2rem;

    & h2{
      font: var(--lb-medium);
      color: var(--ct-primary);
      text-transform: uppercase;
    }

    .switch-container{
      margin-top: 1.75rem;
      display: flex;
      gap: .5rem;
      margin-bottom: 2.5rem;
      & span{
        font: var(--pp-medium);
        color: var(--ct-primary);
      }
    }

    .container-result{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & small{
        font: var(--overline);
        text-transform: uppercase;
        color: var(--ct-secondary);
        margin-top: 0.25rem;
      }

      & .result{
        width: 100%;
        margin-block: 2.5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:  .5rem;

        & label{
          width: 5rem;
          height: 5rem;
          font: 700 3rem/150% var(--ff-roboto-M);
          border-radius: 1.75rem;

          display: flex;
          justify-content: center;
          align-items: center;

          animation: appearResult 2s linear both;
        }
      }
    }

  }
}


@media (width <= 48em) {
  .left{
    padding-inline: var(--px);
    & h1{
      font: var(--tt-medium) !important;
      margin-inline: auto;
    }

    & .onlyMobile{
      flex-direction: column;
    }
  }

  .onlyMobile{

    & h2{
      font: var(--lb-medium);
      color: var(--ct-primary);
      text-transform: uppercase;
    }

    .switch-container{
      margin-top: 1.75rem;
      display: flex;
      gap: .5rem;
      margin-bottom: 2.5rem;
      & span{
        font: var(--pp-medium);
        color: var(--ct-primary);
      }
    }

    .container-result{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .result{
        width: 100%;
        margin-block: 2.5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:  .5rem;

        & label{
          width: 5rem;
          height: 5rem;
          font: 700 3rem/150% var(--ff-roboto-M);
          border-radius: 1.75rem;

          display: flex;
          justify-content: center;
          align-items: center;
          
        }
      }
    }

  }


}


.animation-result{
  animation: appearResult 2s linear both;
}

@keyframes appearResult {
  0%{
    background-color: black;
    transform: scale(0.1) rotate(0deg);
  }
  5%{
    background-color: var(--bg-brand);
    color: var(--ct-brand);
    transform: scale(0.1) rotate(60deg);
  }
  10%{
    background-color: var(--bg-brand);
    color: var(--ct-brand);
    
    transform: scale(0.1)  rotate(90deg);
  }
  15%{
    background-color: var(--bg-brand);
    color: var(--ct-brand);
    transform: scale(0.1) rotate(120deg);
  }
  25%{
    background-color: var(--bg-brand);
    color: var(--ct-inverse);
    transform: rotate(150deg);
  }
  85%{
    background-color: var(--bg-brand);
    color: var(--ct-brand);
    color: var(--ct-inverse);
    transform: rotate(330deg);
  }
  100%{
    color: var(--ct-brand);
    transform: rotate(360deg);
  }
}