@import url(./fields/input.css);
@import url(./fields/switch-toggle.css);
@import url(./fields/button.css);

.wrapper{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
  
  & .content{
    width: 32rem;
    height: auto;
  }
  
  .left{
    & small{
      font: var(--overline);
      text-transform: uppercase;
      background: linear-gradient(to right, #C7C9CC 0%, #3D3D3D 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & h1{
      font: var(--tt-large);
      color: var(--ct-primary);
      text-transform: uppercase;
      margin-bottom: 2.375rem;
    }
  }

  .right{
    padding-block: 2.031rem;
    padding-inline: 2.031rem;
    & h2{
      font: var(--lb-medium);
      color: var(--ct-primary);
      text-transform: uppercase;
    }

    & .numbers-wrapper{
      width: inherit;
      height: auto;
      margin-top: 2.5rem;
      display: flex;
      gap: .75rem;

      & div{
        display: flex;
        flex-direction: column;

        & label{
          font: var(--lb-medium);
          color: var(--ct-secondary);
          text-align: center;
          text-transform: uppercase;
          margin-bottom: .5rem;
        }

      }
    }


    .switch-container{
      margin-top: 1.75rem;
      display: flex;
      gap: .5rem;
      margin-bottom: 2.5rem;
      & span{
        font: var(--pp-medium);
        color: var(--ct-primary);
      }
    }
  }
}